<p id="notice"><%= notice %></p>

<p>
  <strong>Usgs:</strong>
  <%= @earthquake.usgs_id %>
</p>

<p>
  <strong>Tsunami:</strong>
  <%= @earthquake.tsunami %>
</p>

<p>
  <strong>Year:</strong>
  <%= @earthquake.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @earthquake.month %>
</p>

<p>
  <strong>Day:</strong>
  <%= @earthquake.day %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @earthquake.hour %>
</p>

<p>
  <strong>Minute:</strong>
  <%= @earthquake.minute %>
</p>

<p>
  <strong>Second:</strong>
  <%= @earthquake.second %>
</p>

<p>
  <strong>Focal depth:</strong>
  <%= @earthquake.focal_depth %>
</p>

<p>
  <strong>Eq primary:</strong>
  <%= @earthquake.eq_primary %>
</p>

<p>
  <strong>Eq mag mw:</strong>
  <%= @earthquake.eq_mag_mw %>
</p>

<p>
  <strong>Eq mag ms:</strong>
  <%= @earthquake.eq_mag_ms %>
</p>

<p>
  <strong>Eq mag mb:</strong>
  <%= @earthquake.eq_mag_mb %>
</p>

<p>
  <strong>Eq mag ml:</strong>
  <%= @earthquake.eq_mag_ml %>
</p>

<p>
  <strong>Eq mag mfa:</strong>
  <%= @earthquake.eq_mag_mfa %>
</p>

<p>
  <strong>Eq mag unk:</strong>
  <%= @earthquake.eq_mag_unk %>
</p>

<p>
  <strong>Intensity:</strong>
  <%= @earthquake.intensity %>
</p>

<p>
  <strong>Country:</strong>
  <%= @earthquake.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @earthquake.state %>
</p>

<p>
  <strong>Location:</strong>
  <%= @earthquake.location %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @earthquake.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @earthquake.longitude %>
</p>

<p>
  <strong>Region code:</strong>
  <%= @earthquake.region_code %>
</p>

<p>
  <strong>Houses damaged:</strong>
  <%= @earthquake.houses_damaged %>
</p>

<p>
  <strong>Houses damaged description:</strong>
  <%= @earthquake.houses_damaged_description %>
</p>

<p>
  <strong>Total houses damaged:</strong>
  <%= @earthquake.total_houses_damaged %>
</p>

<p>
  <strong>Total houses damaged description:</strong>
  <%= @earthquake.total_houses_damaged_description %>
</p>

<p>
  <strong>Death count:</strong>
  <%= @earthquake.death_count %>
</p>

<p>
  <strong>Death description:</strong>
  <%= @earthquake.death_description %>
</p>

<p>
  <strong>Missing count:</strong>
  <%= @earthquake.missing_count %>
</p>

<p>
  <strong>Missing description:</strong>
  <%= @earthquake.missing_description %>
</p>

<p>
  <strong>Injury count:</strong>
  <%= @earthquake.injury_count %>
</p>

<p>
  <strong>Injury description:</strong>
  <%= @earthquake.injury_description %>
</p>

<p>
  <strong>Damage cost:</strong>
  <%= @earthquake.damage_cost %>
</p>

<p>
  <strong>Damage description:</strong>
  <%= @earthquake.damage_description %>
</p>

<p>
  <strong>Houses destroyed:</strong>
  <%= @earthquake.houses_destroyed %>
</p>

<p>
  <strong>Houses destroyed description:</strong>
  <%= @earthquake.houses_destroyed_description %>
</p>

<p>
  <strong>Total deaths:</strong>
  <%= @earthquake.total_deaths %>
</p>

<p>
  <strong>Total deaths description:</strong>
  <%= @earthquake.total_deaths_description %>
</p>

<p>
  <strong>Total missing:</strong>
  <%= @earthquake.total_missing %>
</p>

<p>
  <strong>Total missing description:</strong>
  <%= @earthquake.total_missing_description %>
</p>

<p>
  <strong>Total injuries:</strong>
  <%= @earthquake.total_injuries %>
</p>

<p>
  <strong>Total injuries description:</strong>
  <%= @earthquake.total_injuries_description %>
</p>

<p>
  <strong>Total damage cost:</strong>
  <%= @earthquake.total_damage_cost %>
</p>

<p>
  <strong>Total damage description:</strong>
  <%= @earthquake.total_damage_description %>
</p>

<p>
  <strong>Total houses destroyed:</strong>
  <%= @earthquake.total_houses_destroyed %>
</p>

<p>
  <strong>Total houses destroyed description:</strong>
  <%= @earthquake.total_houses_destroyed_description %>
</p>

<%= link_to 'Edit', edit_earthquake_path(@earthquake) %> |
<%= link_to 'Back', earthquakes_path %>
