<p id="notice"><%= notice %></p>

<h1>Listing Eruptions</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Month</th>
      <th>Day</th>
      <th>Tsunami</th>
      <th>Earthquake</th>
      <th>Name</th>
      <th>Location</th>
      <th>Country</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Elevation</th>
      <th>Eruption type</th>
      <th>Status</th>
      <th>Time</th>
      <th>Vei</th>
      <th>Agent</th>
      <th>Death count</th>
      <th>Death description</th>
      <th>Missing count</th>
      <th>Missing description</th>
      <th>Injury count</th>
      <th>Injury description</th>
      <th>Damage cost</th>
      <th>Damage description</th>
      <th>Houses destroyed</th>
      <th>Houses destroyed description</th>
      <th>Total deaths</th>
      <th>Total deaths description</th>
      <th>Total missing</th>
      <th>Total missing description</th>
      <th>Total injuries</th>
      <th>Total injuries description</th>
      <th>Total damage cost</th>
      <th>Total damage description</th>
      <th>Total houses destroyed</th>
      <th>Total houses destroyed description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eruptions.each do |eruption| %>
      <tr>
        <td><%= eruption.year %></td>
        <td><%= eruption.month %></td>
        <td><%= eruption.day %></td>
        <td><%= eruption.tsunami %></td>
        <td><%= eruption.earthquake %></td>
        <td><%= eruption.name %></td>
        <td><%= eruption.location %></td>
        <td><%= eruption.country %></td>
        <td><%= eruption.latitude %></td>
        <td><%= eruption.longitude %></td>
        <td><%= eruption.elevation %></td>
        <td><%= eruption.eruption_type %></td>
        <td><%= eruption.status %></td>
        <td><%= eruption.time %></td>
        <td><%= eruption.vei %></td>
        <td><%= eruption.agent %></td>
        <td><%= eruption.death_count %></td>
        <td><%= eruption.death_description %></td>
        <td><%= eruption.missing_count %></td>
        <td><%= eruption.missing_description %></td>
        <td><%= eruption.injury_count %></td>
        <td><%= eruption.injury_description %></td>
        <td><%= eruption.damage_cost %></td>
        <td><%= eruption.damage_description %></td>
        <td><%= eruption.houses_destroyed %></td>
        <td><%= eruption.houses_destroyed_description %></td>
        <td><%= eruption.total_deaths %></td>
        <td><%= eruption.total_deaths_description %></td>
        <td><%= eruption.total_missing %></td>
        <td><%= eruption.total_missing_description %></td>
        <td><%= eruption.total_injuries %></td>
        <td><%= eruption.total_injuries_description %></td>
        <td><%= eruption.total_damage_cost %></td>
        <td><%= eruption.total_damage_description %></td>
        <td><%= eruption.total_houses_destroyed %></td>
        <td><%= eruption.total_houses_destroyed_description %></td>
        <td><%= link_to 'Show', eruption %></td>
        <td><%= link_to 'Edit', edit_eruption_path(eruption) %></td>
        <td><%= link_to 'Destroy', eruption, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eruption', new_eruption_path %>
