<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @eruption.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @eruption.month %>
</p>

<p>
  <strong>Day:</strong>
  <%= @eruption.day %>
</p>

<p>
  <strong>Tsunami:</strong>
  <%= @eruption.tsunami %>
</p>

<p>
  <strong>Earthquake:</strong>
  <%= @eruption.earthquake %>
</p>

<p>
  <strong>Name:</strong>
  <%= @eruption.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @eruption.location %>
</p>

<p>
  <strong>Country:</strong>
  <%= @eruption.country %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @eruption.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @eruption.longitude %>
</p>

<p>
  <strong>Elevation:</strong>
  <%= @eruption.elevation %>
</p>

<p>
  <strong>Eruption type:</strong>
  <%= @eruption.eruption_type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @eruption.status %>
</p>

<p>
  <strong>Time:</strong>
  <%= @eruption.time %>
</p>

<p>
  <strong>Vei:</strong>
  <%= @eruption.vei %>
</p>

<p>
  <strong>Agent:</strong>
  <%= @eruption.agent %>
</p>

<p>
  <strong>Death count:</strong>
  <%= @eruption.death_count %>
</p>

<p>
  <strong>Death description:</strong>
  <%= @eruption.death_description %>
</p>

<p>
  <strong>Missing count:</strong>
  <%= @eruption.missing_count %>
</p>

<p>
  <strong>Missing description:</strong>
  <%= @eruption.missing_description %>
</p>

<p>
  <strong>Injury count:</strong>
  <%= @eruption.injury_count %>
</p>

<p>
  <strong>Injury description:</strong>
  <%= @eruption.injury_description %>
</p>

<p>
  <strong>Damage cost:</strong>
  <%= @eruption.damage_cost %>
</p>

<p>
  <strong>Damage description:</strong>
  <%= @eruption.damage_description %>
</p>

<p>
  <strong>Houses destroyed:</strong>
  <%= @eruption.houses_destroyed %>
</p>

<p>
  <strong>Houses destroyed description:</strong>
  <%= @eruption.houses_destroyed_description %>
</p>

<p>
  <strong>Total deaths:</strong>
  <%= @eruption.total_deaths %>
</p>

<p>
  <strong>Total deaths description:</strong>
  <%= @eruption.total_deaths_description %>
</p>

<p>
  <strong>Total missing:</strong>
  <%= @eruption.total_missing %>
</p>

<p>
  <strong>Total missing description:</strong>
  <%= @eruption.total_missing_description %>
</p>

<p>
  <strong>Total injuries:</strong>
  <%= @eruption.total_injuries %>
</p>

<p>
  <strong>Total injuries description:</strong>
  <%= @eruption.total_injuries_description %>
</p>

<p>
  <strong>Total damage cost:</strong>
  <%= @eruption.total_damage_cost %>
</p>

<p>
  <strong>Total damage description:</strong>
  <%= @eruption.total_damage_description %>
</p>

<p>
  <strong>Total houses destroyed:</strong>
  <%= @eruption.total_houses_destroyed %>
</p>

<p>
  <strong>Total houses destroyed description:</strong>
  <%= @eruption.total_houses_destroyed_description %>
</p>

<%= link_to 'Edit', edit_eruption_path(@eruption) %> |
<%= link_to 'Back', eruptions_path %>
